# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/

# Flask
instance/
.webassets-cache

# Env
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# DB
*.db
*.sqlite3

# Migrations (opcional: descomentar si no versionas)
# migrations/versions/*.py

# OS
.DS_Store
Thumbs.db
